@model IEnumerable<ToDoList.Web.Models.TaskViewModels.TaskViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Tsday's tasks</h2>

@using (Ajax.BeginForm("FilteredTasksByName", new {}, new AjaxOptions()
{
    HttpMethod = "Post",
    UpdateTargetId = "Tasks",
    InsertionMode = InsertionMode.Replace,
}, new { id = "ajaxForm" }))
{
    @Html.AntiForgeryToken()
    <input type="text" name="searchTerm" />
}
<div id="Tasks">
    @Html.Partial("SearchResultPartial");
</div>

@section scripts {
    <script>
        $(function () {
            $('[name="searchTerm"]').keyup(function () {
                $('#ajaxForm').submit()
            })
        })
    </script>
}
