@{
    ViewBag.Title = "Home Page";
}

<div class="text-center">
    <h1 class="page-header">Start getting more done in less time</h1>
    <div class="">
        Manage tasks and projects anywhere with Todoist. At home. At school. At work. Online. Offline. And across 10+ platforms.
    </div>
</div>
